body {
  font-family: 'Arial', sans-serif;  
  color: #333;                       
  background-color: #f8f8f8;          
  margin: 0;                         
  padding: 20px;

  /* Add these lines for the background image */
  background-image: url('/images/bg.jpg'); /* Path to your image */
  background-repeat: no-repeat;            /* Prevents image repetition*/
  background-size: cover;                  /* Makes the image cover the whole screen */
  background-attachment: fixed;            /* Keeps image fixed on scroll */
}
